/*=======Responsive Design=======*/
@media screen and (max-width: 995px) {

}
@media (max-width: 570px) {
  .navbar {
    padding: 10px 15px;
  }
}

@media (max-width: 770px) {
  .hero-section {
    padding: 60px 0px;
  }
  .cards-section {
    z-index: 10;
    margin-top: 0px; 
    margin-bottom: 0px; 
  }
}

@media (max-width: 450px) {
 
  .hero-center h1 {
    font-size: 48px;
  }
  .card{
    margin: 20px 0px;
  }
  .about-section {
    padding: 60px 0px;
  }

  
}
